body
{
   background: rgb(103, 47, 121);
   text-align: center; 
}
header
{
    color:cornsilk;
    text-align: center;
}
section
{
    background: white;
    border-radius: 10px;
    padding: 10px;
    width: 500px;
    margin: auto;
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.39);
}
img
{
    width: 250px;
    height: 200px;
    border-radius: 50%;
    display: block;
    margin-left: auto; 
    margin-right: auto; 
}
footer
{
    color: white;
    text-align: center;
    font-style: italic;
}